# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore directories
bin/
history/

#ignore files
github
todo
github - final
loh
commands to run
testing that's been finished
largeBackup.sh
largeRestore.sh
smallBackup.sh
smallRestore.sh

actOnCcryptStatus/actOnCcryptStatus.cbp
actOnCcryptStatus/actOnCcryptStatus.depend
actOnCcryptStatus/actOnCcryptStatus.layout
